/* GENERAL STYLES*/

@font-face {
font-family: 'Audi Type Normal';
font-style: normal;
font-weight: normal;
src: local('Audi Type Normal'), url('/fonts/AudiType-Normal_03.woff') format('woff');
}

@font-face {
font-family: 'Audi Type Extended Bold';
font-style: normal;
font-weight: normal;
src: local('Audi Type Extended Bold'), url('/fonts/AudiType-ExtendedBold_03.woff') format('woff');
}

h1,h2,h3 {

	font-family: Audi Type Extended Bold;
	/*font-size: 30px;*/
	color: #E3DFDF;
}

h4,h5,h6,p {
	font-family: Audi Type Normal;
}

footer {
	padding: 50px;
	background-color: rgba(163,21,21,1);

}

.no-margin {
	margin: 0;
}

.btn-red {
	background-color: #E21D38;
	color: #EAEAEA;
}

.hr-red {
	border-color: #E21D38;
	border-width: 3px;
	width: 100px;
}

/*           MENU STYLES           */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 17px;
    background-color: rgba(0, 0, 0, 1);
    background: -webkit-linear-gradient(top, rgba(120, 112, 113, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(120, 112, 113, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-width: 0px;
    border-radius: 0px;
    margin-bottom: 0px;

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(227, 223, 223, 1);
    background-color: rgba(248, 248, 248, 0);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(227, 223, 223, 1);
    background-color: rgba(163, 21, 21, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(227, 223, 223, 1);
    background-color: rgba(226, 29, 56, 1);
    background: -webkit-linear-gradient(top, rgba(240, 67, 87, 1) 0%, rgba(226, 29, 56, 1) 100%);
    background: linear-gradient(to bottom, rgba(240, 67, 87, 1) 0%, rgba(226, 29, 56, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #e21d38;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #e21d38;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #e21d38;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

/*  HOME STYLES    */

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-home  {
	text-align: center;
	padding: 100px;
	background-color: rgba(0,0,0,0.8);
	/*height: 100%;*/
	color: #EAEAEA;
}

.transparency {

	background-color: rgba(0,0,0,0.4);
}